In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from sklearn.model_selection import train_test_split
from sklearn.metrics import log_loss, roc_auc_score
from sklearn.preprocessing import LabelEncoder
import xgboost as xgb

the database connection is to the backend database. to be able to retive the data you need to have the docker DB up and running on the local machine. if you set it to up to run on another just change the DB connection field to the container address for the DB.

In [2]:
DB_CONNECTION = 'postgresql://orca:orca@localhost:5432/orca_tracker'  
engine = create_engine(DB_CONNECTION)

# Load data
df = pd.read_sql('SELECT * FROM "data_pipeline_orcasighting"', engine)
df.head()

,id,time,zone,direction,count,month,dayOfWeek,hour,reportsIn5h,reportsIn24h,reportsInAdjacentZonesIn5h,reportsInAdjacentPlusZonesIn5h,raw_report_id,isWeekend,present,sunUp,timeSinceLastSighting,ZoneNumber_id
0,43944,2024-09-02 12:00:00+00:00,4,NW,1,9,1,12,0,1,0,0,7500.0,False,True,True,0 days 23:02:00,4
1,1180633,2025-08-22 01:00:00+00:00,7,None,0,8,5,1,0,0,0,5,NaN,False,False,False,2 days 03:57:00,7
2,54374,2002-02-18 06:00:00+00:00,5,None,0,2,1,6,0,0,0,0,NaN,False,False,False,34 days 08:00:00,5
3,50,2001-08-13 13:00:00+00:00,6,None,6,8,1,13,0,0,0,1,25.0,False,True,True,8 days 02:00:00,6
4,51,2001-08-13 14:00:00+00:00,7,None,3,8,1,14,0,0,2,0,25.0,False,True,True,115 days 16:00:00,7

we will drop id as it has no real relation with the dataset. the same goes for zone number and raw report id.

next lets look at counts for each zone to get an idea of the distrobution of the data accross the zones.

In [ ]:
df = df.drop(columns=['id', 'ZoneNumber_id', 'raw_report_id'])

In [17]:
df.shape[0]

zoneCount = df.query('present == True')['zone'].value_counts()
print(zoneCount)

zone
13    6775
12    6459
6     6397
10    4790
9     4103
14    3854
4     2708
15    2227
5     1948
7     1927
11    1529
16    1164
3     1157
1     1000
8      622
2      244
Name: count, dtype: int64